main {
}

.main__block {
  // background-image: url('https://s3-alpha-sig.figma.com/img/7319/c1dd/c03601159fa03c1a7608ea2c2115f907?Expires=1639958400&Signature=Y4UizuuGaU516TFSJwyZLolFwF-gYooFI-qb8zthdhu5BPL93Hzj5qNf3Ln8RP3bjDgZZXfHe3NJKTRNCfVmo~jSkeQ1X4W8K6MdcWbZjke3OiqMIXdtT~0mCbX-CU6hOl6KfxesZr7Ismw8wOTyAh14i33ZSJ0KjA76h0A9KwU1~c0BHF1AEdPBll1At0Q~8VA4af0THB6sAGZJmAFt5g9-JM67chPpazIFMYnN1YJiFCW38~s28SBQfz72tY1ZMsZ8SeQGk9g7-~IdGVuS0rYZSDqEZ5360oatAlO0YfbHKgYcm-p1oOWRvhLiYnb-CFadQ8wXitlAeTp944UntQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  height: 810px;

  .main__block_btn {
    max-width: 430px;
    margin: 22px auto;
    button {
      margin-left: 12px;
    }
  }
}
.main__block_title {
  max-width: 537px;
  margin: 0 auto;
  padding-top: 53px;
  text-align: center;
  h1 {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 14px;
  }
  p {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
// block//////////
.block {
  min-height: 83px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 191px;
  .block__img {
    cursor: pointer;
  }
  .block__img:nth-child(1),
  .block__img:nth-child(4) {
    margin-bottom: 17px;
  }
}
hr {
  height: 2px;
  background-color: #cfcfcf;
  width: 70px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 44px;
}

//////////block__looking////////////////////////////////

.block__looking {
  padding: 3.6% 9% 1.5% 9.1%;
  .block__looking_title {
    max-width: 705px;
    padding-top: 0px;

    p {
      max-width: 685px;
      margin: 0 auto;
    }
    h1 {
      margin-bottom: 17px;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 1px;
    }
  }
  .block__looking_item {
    display: flex;
    justify-content: space-between;
    .item {
      width: 580px;
      height: 580px;
      position: relative;
      .item__block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        h2 {
          font-size: 25px;
          line-height: 32px;
          margin-bottom: 14px;
        }
        p {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
    .first__item {
      // background-image: url('https://s3-alpha-sig.figma.com/img/adf2/6b09/f71cf3d912ea7ea49bc1dd8884654c38?Expires=1639958400&Signature=NsTxN5VQHgCLu0pQi0VIGBrCkrEiMABEZjxy~69wfQ0aVLSJ6dQ4d-eEcBLEh0OLYEKUEm6j6iHDQXpbsOMxA06XQPWT4ODjRIRDc04oza9QfnEqU~RcqjLWlXivgiitsG~BuSIvFnSf3UmWgNVKfwGbaTUQdeFsL-qKlcxH6xslgZCXAW6L5ZUBHC3SkpUmhcwY34iRYLNbr~DMTHg8-6pdFR~BnBRKblifLzlI~4FDo8UrbIXKeN0Wu7b-p9m85yooi4xpwj~vQkvFzSXG5gl5oLzJiYVr8PHsPDLdcgyOI89s~pjTH2llmCf9pdr97763WIPucKla6lwAF6hQGg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
      background-position: center;
      background-size: cover;
    }
    .second__item {
      // background-image: url('https://s3-alpha-sig.figma.com/img/4ebf/6792/383a566419b78a81d3e86dca202cecd9?Expires=1639958400&Signature=GYvRHs0MAzV3zGsNa2QB7jSlCG-6gtz1YKvNAkw8qyQRNA61BUv5xl-Io7cad-iWHCGk2L3KRpDfg8Dc0-bKiDPqpgPuBioMIIQbyjjYVqKA9WkfneQaZcA~wX0xP06ocKUeUpNkuyT5zo67M19ZHJcs-F3LiBkAaEb4VsELXfJsQMaCMPDw1lp5bzDnIJ-su0qUkqbNttDkgVXOqqu4tfX9ckd78HQrteUqjQKiOVXzxVN0CwECQ28L3unLnQUwjZQjXHhSeWudli2Yj-IGWW2ipnF5tZEb1N1IQvnXFh6fdFW-w-DiY1ofXacIWHfkKv~BqWg5~4MY3dJsP817Hg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
      background-size: cover;
      background-position: center;
    }
  }
}

// block__skateboards////////////////////////////////////////////////////////////////

.block__skateboards {
  width: 100%;
  // background-image: url('https://s3-alpha-sig.figma.com/img/4b65/363e/82c44a83deb621d51b76476d4e949bcb?Expires=1639958400&Signature=emmYxXHwBoppjweluENwNtLa~DCuOha70NMfcnzvoto1JI84u-MO1MNX9LTyxfxqzebx9fA6xv6-8XWPMNKRurezvlWEbP5Uqlb~pH1cTwq4ozzA1iG5~Rmd2fQ0qDQ1bUjKWtTOuA0Pl8rvy1FUGEGeo-YxmgrHahELFpVSQjus-6SjBnZxjyjUB0luiePRYLjYLhUAVPwO2S8hVK0zQbE028HNDFjh~sVKQl8rllukk8036nWA0xM7fselUxW6wvRClK5Orl4B9BY4aEnOZHN6U3ExaMXcyTrIkjJFPNZNKounRtgFEp32Sh3gv0hKiNQpTDbJBABa3U243ji5nw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  background-size: cover;
  height: 736px;
  margin-bottom: 44px;
  .block__skateboards_title {
    padding-top: 44px;
    p {
      width: 485px;
      margin: 0 auto;
    }
    h1 {
      font-weight: 700;
    }
    span {
      display: inline-block;
      margin-bottom: 11px;
      font-size: 15px;
      line-height: 18px;
    }
    button {
      margin-top: 25px;
    }
  }
}
// block__cards/////////
.block__cards {
  padding-bottom: 55px;
  .block__cards_top {
    padding: 0 150px 45px 9.1%;
    display: flex;
    // flex-wrap: wrap;
    div {
      width: 380px;
      height: 380px;
      img {
        width: 100%;
      }
    }
    .first__card {
      margin-right: 20px;
    }
    .second__card {
      margin-right: 40px;
    }
    .three__card {
      width: 339px;
    }
    .block__cards_top-title {
      width: 100%;
      text-align: start;
      h2 {
        font-size: 32px;
        line-height: 38px;
      }
      p {
        line-height: 22px;
        margin-bottom: 23px;
      }
      button {
        width: 100px;
        height: 33px;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
  .block__cards_bottom {
    display: flex;
    justify-content: space-between;
    img {
      transition: 0.5s;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  .block__cards_item {
    position: relative;
    max-width: 480px;
    max-height: 480px;
    color: white;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
    .item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
}

// media/////////
@media (max-width: 1300px) {
  .block__cards {
    .block__cards_top {
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
      .first__card {
        margin: 0;
        margin-right: 20px;
      }
      .second__card {
        margin: 0;
      }
    }
  }
}
@media (max-width: 768px) {
  .main__block {
    height: 500px;
    .main__block_title {
      padding-top: 100px;
    }
    .main__block_btn {
      width: 220px;
      margin: 0 auto;
      button {
        margin-top: 10px;
      }
    }
  }

  .block {
    padding: 20px;
    display: block;
    .block__img {
      width: max-content;
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .block__img:nth-child(1) {
      margin-bottom: 50px;
      margin-top: 30px;
    }
  }

  .block__looking {
    padding: 20px;
    .block__looking_item {
      .item {
        width: 350px;
        height: 350px;
      }
    }
  }

  .block__cards {
    padding: 0 20px;
    .block__cards_top {
      padding-top: 0;
      .block__cards_top-title {
        padding: 0;
      }
      .first__card {
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .second__card {
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .three__card {
        margin: 0 auto;
        height: 250px;
      }
    }
    .block__cards_bottom {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }
  }
}

@media (max-width: 400px) {
  .main__block {
    .main__block_title {
      padding: 100px 10px 20px 10px;
      h1 {
        font-size: 35px;
      }
    }
    .main__block_btn {
      width: 100%;
      text-align: center;
      button {
        margin: 0;
        width: 140px;
        font-size: 11px;
      }
    }
  }
  .block {
    img {
      width: 100px;
    }
  }
  .block__looking {
    padding: 0px;
    padding-top: 20px;
    .block__looking_item .item .item__block h2,
    p {
      font-size: 15px;
      line-height: 20px;
    }
    .block__looking_title {
      padding: 0 20px;
    }
    hr {
      margin-bottom: 25px;
      margin-top: 15px;
    }
  }
  .block__skateboards {
    margin-bottom: 0;
    .block__skateboards_title {
      p {
        width: 100%;
        padding: 0 30px;
      }
      h1 {
        font-size: 32px;
        margin-bottom: 5px;
      }
    }
  }
  .block__cards {
    padding: 0;
    padding-bottom: 20px;
    .block__cards_top {
      padding: 0;
      .first__card {
        width: 100%;
        margin-bottom: 0px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .second__card {
        width: 100%;
        margin-bottom: 0px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .three__card {
        margin-top: 35px;
        .block__cards_top-title {
          height: 263px;
          h2 {
            margin-bottom: 5px;
          }
        }
      }
    }
    .block__cards_bottom {
      .block__cards_item {
        .item {
          h2 {
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 5px;
          }
          p {
            font-size: 10px;
            line-height: 8px;
          }
        }
      }
    }
  }
}
